# Auto detect text files and perform LF normalization
* text=auto

# JS files must always use LF for tools to work
*.js eol=lf

external/* linguist-documentation=false
*.ts linguist-documentation=false
*.d.ts linguist-documentation=false