# User-specific files
*.suo
*.ide
*.user
*.userosscache
*.sln
*.sln.docstates
*.csproj

# Build results
*.dll
[Bb]in/
[Oo]bj/
/dist/[Bb]in
/dist/[Oo]bj

# Others
.vs
.vscode
.resources
.coveralls.yml
.nyc_output
coverage
nyc_output
npm-debug.log
node_modules
bower_components
test/typescript/*.js