# User-specific files
*.suo
*.ide
*.user
*.userosscache
*.sln
*.sln.docstates
*.csproj

# Build results
*.dll
[Bb]in/
[Oo]bj/
/build/[Bb]in
/build/[Oo]bj

# Others
/.vs
/_other
/node_modules
/test/typescript/*.js