# Auto detect text files and perform LF normalization
* text=auto

# JS files must always use LF for tools to work
*.js eol=lf

.*.ts linguist-vendored=false
.*.d.ts linguist-vendored=false
*.html linguist-vendored=false
*.css linguist-vendored=false