.*
*.suo
*.ide
*.user
*.userosscache
*.sln
*.sln.docstates
*.csproj
*.log

/.editorconfig
/.gitattributes
/.jscsrc
/.jshintrc
/.travis.yml
/Gruntfile.js
/bower.json

/.vs
/.vscode
/.resources
/.git
/dist/bin
/node_modules
/bower_components
/tasks
/test
/external
