.*
*.suo
*.ide
*.user
*.userosscache
*.sln
*.sln.docstates
*.csproj

/.editorconfig
/.gitattributes
/.jshintrc
/.jscs.json
/Gruntfile.js
/bower.json

/.vs
/.vscode
/.resources
/.git
/build/bin
/node_modules
/bower_components
/test
/test/typescript/*.js
